<nav id="top">
    <div class="container">
        <div class="nav float-start">
            <ul class="list-inline">
                <li class="list-inline-item">HOTLINE: <a href="#">1900 123 456</a> | <a href="#">1900 789 123</a></li>
            </ul>
        </div>
        <div class="nav float-end">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-user"></i> 
                            <span class="d-none d-md-inline"><%= t("account") %></span> 
                            <i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <% if current_user %>
                                <li><%= link_to t("account"), account_index_path, class: 'dropdown-item' %></li>
                                <li><%= link_to t("orderhistory"), account_order_path, class: 'dropdown-item' %></li>
                                <li><%= link_to t("logout"), account_logout_path, class: 'dropdown-item' %></li>
                            <% else %>
                                <li><%= link_to t("register"), home_register_path, class: 'dropdown-item' %></li>
                                <li><%= link_to t("login"), home_login_path, class: 'dropdown-item' %></li>
                            <% end %>
                        </ul>
                    </div>
                </li>
                <li class="list-inline-item"><a href="/cart" title="<%= t("cart") %>"><i class="fa-solid fa-bag-shopping"></i> <span class="d-none d-md-inline"><%= t("cart") %></span></a></li>
                <% if cart_items.any? %> 
                <li class="list-inline-item"><a href="/checkout" title="<%= t("pay") %>"><i class="fa-solid fa-share"></i> <span class="d-none d-md-inline"><%= t("pay") %></span></a></li>
                <% else %>
                <li class="list-inline-item"><a href="/cart" title="<%= t("pay") %>"><i class="fa-solid fa-share"></i> <span class="d-none d-md-inline"><%= t("pay") %></span></a></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>